<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather1.png">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        This page is created by Asmita using Darksy and mapbox
    <img class="portrait" src="/img/Asmita_Kapadi_image.jpg">
    </div>
    {{>footer}}
    </body>
</html>